{% extends "AppBundle::layout.html.twig" %}

{% block app_body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ 'Questionnaire enregistré'|trans }}</h1><br/><br/>
        </div>
    </div>
{% endblock %}
