{% extends "AppBundle::layout.html.twig" %}


{% block app_body %}
    <div class="row">
        <div class="col-md-12">

            <h1 class="text-center">Accès interdit</h1>

        </div>
    </div>

    <script>
        setTimeout(window.close, 2000);
    </script>
{% endblock %}